<!-- Header area -->
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
            <img src="img/logo.png" alt="" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    <strong>Sustainable</strong> rural tourism
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Village and <strong>crafts</strong> tours
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Eco tourism with a <strong>difference</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    <strong>Adventures</strong> in the wild
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>

<!-- spacer section -->
@*<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                    Simply by travelling with a conscience, you can make a difference in the lives of others
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i class="icon-lightbulb icon-10x"></i>
            </div>
        </div>
    </div>
</section>*@
<!-- end spacer section -->
<!-- team section -->
@Html.Partial("_Team");
<!-- end team section -->
<!-- section: services -->
@Html.Partial("_Services");
<!-- end section: services -->
<!-- section: trips -->
<section id="trips" class="section">
    @Html.Partial("_TripHeaders");

    <div class="container clearfix">
        <div class="aligncenter">
            <a href="/Trips" class="btn btn-large btn-theme">All trips</a>
        </div>
    </div>
</section>
<!-- end section: trips -->
<!-- section: contact -->
@Html.Partial("_ContactFormGeneric");
<!-- end section: contact -->