<section id="contact" class="section green">
    <div class="container">
        <h4>Get in Touch</h4>
        <p>
            Calcutta and Beyond is an initiative for an active participation in rural lifestyle. Ideal for rest, rejuvenation, relaxation and discovery- enabling interaction between the tourists and the locals for a more enriching tourism experience.
        </p>
        <div class="blankdivider30"></div>

        @*temporary*@
        <p class="aligncenter">
            <strong>
                Write to <a href="mailto:info@calcuttaandbeyond.com">
                    info@calcuttaandbeyond.com
                </a>
            </strong>            
        </p>
        <p class="aligncenter">Or</p>
        <p class="aligncenter">
            <strong> call/whatsapp on +91-9836074773</strong>
        </p>


        <div class="row">
            @*<div class="span12">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">
                            <div class="span6">
                                <div class="field your-name form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 letters" />
                                    <div class="validation"></div>
                                </div>
                                <div class="field your-email form-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="field subject form-group">
                                    <input type="text" class="form-control" name="trip_request" id="trip_request" placeholder="Trip of interest" data-rule="minlen:4" data-msg="Please enter at least 8 characters" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="field message form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please tell us about the trip you want" placeholder="Tell us what you want to see and do ... or simply ask for reccommendations"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <input type="submit" value="Send enquiry" class="btn btn-theme pull-left">
                            </div>
                        </div>
                    </form>
                </div>
            </div>*@
            <!-- ./span12 -->
        </div>
    </div>
</section>
