<!-- section: services -->
<section id="services" class="section orange">
    <div class="container">
        <h4>Our Services</h4>
        <!-- Four columns -->
        <div class="row">
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="img/flat-icons/home.png" alt="" />
                    <h2>Guided rural tours</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated flyIn">
                <div class="service-box">
                    <img src="img/flat-icons/hotel.png" alt="" />
                    <h2>Wide range of accommodation</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="img/flat-icons/taxi.png" alt="" />
                    <h2>Reliable local transport</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated-slow flyIn">
                <div class="service-box">
                    <img src="img/flat-icons/woman.png" alt="" />
                    <h2>English speaking local guides</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section: services -->
