<!-- section: services -->
<section id="services" class="section orange">
    <div class="container">
        <h4>Our Services</h4>
        <!-- Four columns -->
        <div class="row">
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="~/img/flat-icons/home-1.png" alt="" />
                    <h2>Guided rural tours</h2>
                    <p>
                        Calcutta and Beyond is an initiative for an active participation in rural lifestyle. Ideal for rest, rejuvenation, relaxation and discovery- enabling interaction between the tourists and the locals for a more enriching tourism experience.
                    </p>
                </div>
            </div>
            <div class="span3 animated flyIn">
                <div class="service-box">
                    <img src="~/img/flat-icons/hotel-6.png" alt="" />
                    <h2>Wide range of accommodation</h2>
                    <p>
                        We offer the widest range of accommodations, from the city 5 stars to budget hotels, hostels or Calcutta and village homestays.</p>
                </div>
            </div>
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="~/img/flat-icons/taxi-1.png" alt="" />
                    <h2>Reliable local transport</h2>
                    <p>
                        We offer personalised tours by car for independent travellers and bus tours for larger groups.
                    </p>
                </div>
            </div>
            <div class="span3 animated-slow flyIn">
                <div class="service-box">
                    <img src="img/flat-icons/woman.png" alt="" />
                    <h2>English speaking local guides</h2>
                    <p>
                        Our enthusiastic and knowledgeable lady Tour Guides, enjoy showing the places and interacting with the locals. Even a single woman traveller will feel completely at ease in their presence.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section: services -->
