
<section id="about" class="section">
    <div class="container">
        <h4>Who We Are</h4>        
        <div class="row">
            <div class="span12">
                <h2 class="aligncenter">Faces behind the concept</h2>
            </div>
        </div>
        <div class="row">
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/girl-1.png" alt="" />
                    <h3>Malini</h3>
                    <p>
                        Concept &amp; Beyond
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/man-2.png" alt="" />
                    <h3>Joy</h3>
                    <p>
                        Finance &amp; Marketing
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/boy-1.png" alt="" />
                    <h3>Zameer</h3>
                    <p>
                        HR &amp; Training
                    </p>
                </div>
            </div>
            <div class="span3 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/man-3.png" alt="" />
                    <h3>Yubanaswa</h3>
                    <p>
                        Online Systems
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p>Even as a through bred Calcuttan, <strong>Malini</strong> always had great love for the rustic life and crafts of Bengal. This lead her to explore uncharted territories. To share the experience with the outside world, Calcutta & Beyond was created in 2017.</p>
                <p><strong>Joy</strong>, a successful architect, working for the Trump Tower in the concrete jungle of the metropolis, also joined hands to promote the lush green Eastern India to the world. </p>
                <p>With a prestigious management degree in his pocket, <strong>Zameer</strong> joined the team to bring his years of experience in HR and Management, taking it beyond the corporate walls into the interior paths of the country.</p>
                <p>An avid traveller and a Techie, <strong>Yubanaswa</strong> decided to quit working for rich bosses, and started working for the not so rich folks, building a technological platform to connect the people of the two worlds for everybody's benefit.</p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- end section: team -->
