<section class="spacer orange" id="testimonialsHeader">
    <div class="container">
        <blockquote class="large" style="margin-left:30px;"> We had a lot of talks about Indian culture, customs, people and life ...</blockquote>
        <p style="margin-left:60px;">In 2011 I spent two weeks in Kolkata with Nag family who hosts homestay in Kolkata. During my stay with them I had a really wonderful time. In the mornings during breakfast I could discuss my plans for the day and receive tips on how to get to the places, which I wanted to visit. In the evenings they always had time to sit with me and talk about Kolkata and India. I would usually ask questions about the things I saw during my day out. We had a lot of talks about Indian culture, customs, people and life. I have learnt so many things, which would not be possible to learn out of books or guides. During my stay I felt very welcomed and well cared for. I have very good memories from my trip to India and definitely the … family is the big reason why. I always think very fondly of them.</p>
        <div class="blankdivider30"></div>
        <div class="container">
            <blockquote class="large" style="margin-left:30px;"> Malini is a consummately professional guide, punctual, patient and meticulous ... <small>John St. Clair  - UK</small></blockquote>
            <p style="margin-left:60px;">
                She knows everything there is to know about her wonderful Calcutta, and also all about West Bengal.<br />
                She's always bright and cheerful, lovely company throughout the day, and a delightful travelling companion too.<br />
                The tours she runs to small towns and villages away Calcutta make a pleasant change from the exhilarating chaos and congestion of the city.<br />
                They provide an opportunity to observe the lives of ordinary Indians in more peaceful places than the usual destinations.<br />
                It's fascinating to see the households, craftspeople and artisans that Malini arranges for you to visit, and the architectural and cultural points of interest in each place. It's also nice to note the trust and affection that exists between the people and Malini. And you won't face any competition from other tourists because you'll almost certainly be the only visitors there.<br />
                There will be other things that are not on the itinerary but will catch your eye and take your interest. Malini is very good at letting you see what you want to see, not at all overprotective of her agenda.<br />
                Most places are quite a long drive from Calcutta, but this is an advantage. It gives you a chance see the countryside and its small rural communities, and learn something of  the country people and their agricultural activities with their crops and livestock. They'll be interested to meet you too.<br />
                We have no hesitation in recommending Malini and her tours to you. You will find the experience highly enjoyable and rewarding.
            </p>
        </div>
    </div>    
</section>
