<div class="container clearfix">
    <h4>Our Trips</h4>
    <!-- portfolio filter -->
    <div class="row">
        <div class="span3">
            <div class="home-post">
                <div class="post-image">
                    <img class="max-img" src="~/img/trips/CraftsHeader.jpg" alt="" />
                </div>
                <div class="post-meta">
                    <i class="icon-bolt icon-2x"></i>
                    @*<span class="date">June 19, 2013</span>
                    <span class="tags"><a href="#">Design</a>, <a href="#">Blog</a></span>*@
                    <span class="date">Village &amp; Craft Tours</span>
                </div>
                <div class="entry-content">
                    <h5><strong>Crafts of rural Bengal</strong></h5>
                    <p>
                        Brass & Terracotta,
                        The loom,
                        Nawabs and Silk Story,
                        On the footsteps of Tagore,
                        Living Clay,
                        Chau,
                        Song on paper
                    </p>
                    @*<a href="/Trips/SearchTrip?searchParam=Crafts" class="more">Read more</a>*@
                    <a href="/Trips?p=Crafts" class="more">Read more</a>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="home-post">
                <div class="post-image">
                    <img class="max-img" src="img/blog/img2.jpg" alt="" />
                </div>
                <div class="post-meta">
                    <i class="icon-file icon-2x"></i>
                    <span class="date">June 19, 2013</span>
                    <span class="tags"><a href="#">Design</a>, <a href="#">News</a></span>
                </div>
                <div class="entry-content">
                    <h5><strong><a href="#">Retro is great</a></strong></h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
                    </p>
                    <a href="/Trips" class="more">Read more</a>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="home-post">
                <div class="post-image">
                    <img class="max-img" src="img/blog/img3.jpg" alt="" />
                </div>
                <div class="post-meta">
                    <i class="icon-file icon-2x"></i>
                    <span class="date">June 22, 2013</span>
                    <span class="tags"><a href="#">Design</a>, <a href="#">Tips</a></span>
                </div>
                <div class="entry-content">
                    <h5><strong><a href="#">Isometric mockup</a></strong></h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
                    </p>
                    <a href="/Trips" class="more">Read more</a>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="home-post">
                <div class="post-image">
                    <img class="max-img" src="img/blog/img4.jpg" alt="" />
                </div>
                <div class="post-meta">
                    <i class="icon-file icon-2x"></i>
                    <span class="date">June 27, 2013</span>
                    <span class="tags"><a href="#">News</a>, <a href="#">Tutorial</a></span>
                </div>
                <div class="entry-content">
                    <h5><strong><a href="#">Free icon set</a></strong></h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
                    </p>
                    <a href="/Trips" class="more">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="aligncenter">
        <a href="/Trips" class="btn btn-large btn-theme">More trips</a>
    </div>

</div>
