<div class="container clearfix">
    <h4>Our Trips</h4>
    <!-- portfolio filter -->
    <div class="row">
        <div class="span3">
            <div class="home-post">
                <a href="/Trips/Crafts">
                    <div class="post-image">
                        <img class="max-img" src="~/img/trips/Crafts_186412690.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Village &amp; Craft Tours</span>
                    </div>
                </a>
                <div class="entry-content">
                    <h5><strong>Crafts of rural Bengal</strong></h5>
                    <p>
                        Brass & Terracotta,
                        The loom,
                        Nawabs and Silk Story,
                        On the footsteps of Tagore,
                        Living Clay,
                        Chau,
                        Song on paper
                    </p>
                    <a href="/Trips/Crafts" class="more">Read more</a>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="home-post">
                <a href="/Trips/Calcutta">
                    <div class="post-image">
                        <img class="max-img" src="~/img/trips/City_88429985.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Calcutta &amp; beyond</span>
                    </div>
                </a>
                <div class="entry-content">
                    <h5><strong>Explore the city &amp; beyond</strong></h5>
                    <p>
                        Enjoy trips in the city, amazing walks, street food, or venture out for a day or more into the lush green places just outside the city &hellip;
                    </p>
                    <a href="/Trips/Calcutta" class="more">Read more</a>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="home-post">
                <a href="/Trips/Voluntourism">
                    <div class="post-image">
                        <img class="max-img" src="~/img/trips/AdobeStock_99872717.jpeg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Voluntourism</span>
                    </div>
                </a>
                <div class="entry-content">
                    <h5><strong>Be a voluteer &amp; a tourist</strong></h5>
                    <p>
                        To have a life changing experience, spend some time with children or people who live in an entirely different world &hellip;
                    </p>
                    <a href="/Trips/Voluntourism" class="more">Read more</a>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="home-post">
                <a href="/Trips/Workshops">
                    <div class="post-image">
                        <img class="max-img" src="~/img/trips/AdobeStock_186706378.jpeg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Workshops</span>
                    </div>
                </a>
                <div class="entry-content">
                    <h5><strong>Enjoy culture and food</strong></h5>
                    <p>
                        We organize various workshops, for you to experience food, lifestyle, art &amp; crafts of the region &hellip;
                    </p>
                    <a href="/Trips/Workshops" class="more">Read more</a>
                </div>
            </div>
        </div>
    </div>

    @*<div class="aligncenter">
        <a href="/Trips" class="btn btn-large btn-theme">More trips</a>
    </div>*@

</div>
