
@{
    ViewBag.Title = "Calcutta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div style="width:100%">
        <img class="max-img" src="~/img/trips/AdobeStock_163920760.jpeg" alt="" />
    </div>*@

<section class="spacer bgCalcutta">
    <blockquote class="large" style="margin-left:30px;"> Join us to be mesmerised by the Cultural Capital of India</blockquote>
</section>

@*Section - header*@
<section class="section">
    <div class="container">
        <div class="row">

            <div class="span12">
                <a href="/#trips"><h6>Back to all trips</h6></a>
                <h1>Exploring Calcutta &amp; beyond</h1>
                <p>The first centre of British power in India, Calcutta has a lot to offer – from Colonial architectures to modern constructions, from old busy wholesale bazaars to plush shopping malls, from Bengalis to Chinese to Jews to Jains, from Temples, Churches, Synagogues, Fire Temple to Mosques, the amazing food places from road side tea shops to luxurious restaurants, the list is unending ensuring you are getting glued to the city. </p>
                <a href="/trips"><h6>Back to all trips</h6></a>
                <h2>
                    Quick facts
                </h2>
                <div class="alert alert-success">
                    <strong>
                        A quick glimpse of the city can be done in 4 hours (half day)<br />
                        A more detailed tour can be for 8 hours (full day).<br />
                        You can even opt for variable hours depending on the time you have in hand.
                    </strong>
                </div>
            </div>
        </div>
    </div>
</section>

@*Over view of Calcutta*@
<section id="CalcuttaOverview" class="section orange">

    <div class="container">

        <h4>Overview of Calcutta</h4>
        <P>
            <strong>
                This tour takes you through the Colonial Past to the Old Town to Bazaars, a view of the river Hooghly with may be experiencing a local ferry ride, the magnificent Victoria Memorial Hall (closed on Mondays), churches, temples, home of Mother Teresa  and a host of other spectacles that make our very own Kolkata.
            </strong>
        </P>
        <div class="blankdivider30"></div>
        <p><strong>Start Point :</strong> Your Hotel/convenient point </p>
        <P><strong>Start Time :</strong> Your convenient time </P>
        <P><strong>Tour Time :</strong> 4 hours (half day) / 8 hours (full day) </P>
        <div class="blankdivider30"></div>
        <p><strong>Includes :</strong> Transport, experienced guide, entry to monuments (except Museums), bottled water and all taxes</p>
        <p><strong>Excludes :</strong> Food, tips, travel insurance</p>
        <div class="blankdivider30"></div>
        <a href="/trips"><p>Back to all trips</p></a>
        <a href="#contact"><p>Contact us to book</p></a>

    </div>
</section>
@*End Over view of Calcutta*@

@*Spiritual Splendour*@
<section id="spiritualSplendorCalcutta" class="section">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4>Spiritual Splendour</h4>
                <h3>Kolkata is home to a host of Temples dedicated to Hindu, Jain, Muslim, Sikh, Jew, Christian, Armenian, Zoroastrian faiths. This is a tour that resonates the religious tolerance and the harmony the people of the city enjoys. </h3>
            </div>
            <div class="span9 offset3">
                <h3><strong>Start Point :</strong> Your Hotel/convenient point </h3>
                <h3><strong>Start Time :</strong> 8:00 AM </h3>
                <h3><strong>Tour Time :</strong> 4 hours (half day) / 8 hours (full day) </h3>
            </div>
            <div class="span12">
                <h3><strong>Includes :</strong> Transport, experienced guide, entry to monuments (except Museums), bottled water and all taxes</h3>
                <h3><strong>Excludes :</strong> Food, tips, travel insurance</h3>
            </div>
            <div class="span12">
                <a href="/#trips"><h6>Back to all trips</h6></a>
            </div>
            <div class="span12">
                <a href="#contact"><h6>Contact us to book</h6></a>
            </div>
        </div>
    </div>
</section>


@*The Museum Day*@
<section id="calcuttaMuseumDay" class="section green">
    <div class="container">

        <h4>The Museum Day</h4>
        <P>
            <strong>
                Folk Art, Modern Art, History, Science, Archaeology, Astronomy, Philatelic, Jute, Calcutta Tram, Railway, Police, Industrial, Wax, Spiritual, Private …this city offers museum of every kind. If you are a Museum person or with a never ending thirst for knowledge this tour is a must for you
            </strong>
        </P>
        <div class="blankdivider30"></div>
        <p><strong>Start Point :</strong> Your Hotel/convenient point </p>
        <P><strong>Start Time :</strong> 09:30 AM </P>
        <P><strong>Tour Time :</strong> 4 hours (half day) / 8 hours (full day) </P>
        <div class="blankdivider30"></div>
        <p><strong>Includes :</strong> Transport, experienced guide, entry to monuments (except Museums), bottled water and all taxes</p>
        <p><strong>Excludes :</strong> Food, tips, travel insurance</p>
        <div class="blankdivider30"></div>
        <a href="/trips"><p>Back to all trips</p></a>
        <a href="#contact"><p>Contact us to book</p></a>

    </div>
</section>


@*Behind the mask*@
<section id="calcuttaBehindTheMask" class="section">
    <div class="container">

        <h4>Behind the mask</h4>
        <P>
            <strong>
                Folk theatre originated probably in the first half of 16th Century with Mythology as the theme though there are evidences of storytelling through folk singing even earlier. Roughly round the end of 18th Century the first Bengali play was staged. But the proscenium theatre emerged during the British rule during the Bengal Renaissance. Bengali theatre which was already rich as an art form by then became a vehicle of mass education and an effort in reflecting the then society and politics. Many eminent personalities including the National Poet of India Rabindra Nath Tagore contributed majorly in Kolkata theatre through their work.
            </strong>
        </P>
        <p><strong>Bengali theatre has always dealt with magic realism and body language, so the use of performer's body along with the characterization is eminent and evolving. The language of theatre is also constantly changing.</strong></p>
        <p><strong>This tour takes you through the history of Bengali Theatre, visiting the heritage and contemporary theatres, costume and wig makers, printing press where theatre posters are printed, workshops where you get to meet and talk to the actors and watch them rehearse and ends with viewing a real theatre show.    </strong></p>
        <div class="blankdivider30"></div>
        <p><strong>Start Point :</strong> Your Hotel/convenient point </p>
        <P><strong>Start Time :</strong> 08:00 - 10:00 AM </P>
        <P><strong>Tour Time :</strong> 8 to 10 hours </P>
        <div class="blankdivider30"></div>
        <p><strong>Includes :</strong> Transport, experienced guide, entry to monuments (except Museums), bottled water and all taxes</p>
        <p><strong>Excludes :</strong> Food, tips, travel insurance</p>
        <div class="blankdivider30"></div>
        <a href="/trips"><p>Back to all trips</p></a>
        <a href="#contact"><p>Contact us to book</p></a>

    </div>
</section>

@*Director’s Day Out*@
<section id="calcuttaDirectorsDayOut" class="section orange">
    <div class="container">

        <h4>Director’s Day Out</h4>
        <P>
            <strong>
                Jo Basu, a documentary film maker and teacher for under graduate film study students. Having done his graduation in History and Culture, finally found his passion in Media Studies and film making.  For last 12 years he is extensively researching and making documentaries. His films named Children of Soil, The Kiln, From the Shore, Wild Refugees, Death, Freedom, etc, deal on subjects like environmental pollution, children’s rights, women empowerment, tribal issues, wild life and many more.
            </strong>
        </P>
        <p>
            <strong>
                His films have gained acclimation in various International film festivals.<br />
                Salon Internacional de la Luz, Colombia<br />
                Inonu University 10th International Short Film Festival, Turkey<br />
                Rushes National Film Festival<br />
                Cinema Grand Prix, Bali, Indonesia…..and so on
            </strong>
        </p>
        <p><strong>You will get a chance to meet and spend a day with this talented director. You will get to know how he goes about making his films, the research he has to undertake and days of persuading his subjects because often it deals with sensitive issues like documenting a all women football team whose members all hail from conservative Muslim families. He will take you around the areas he has shot for his films and make you meet the subjects. You get all the inner information you always wanted to know about documentary film making in India. The day ends with a filming of one of his favourite ventures.     </strong></p>
        <div class="blankdivider30"></div>
        <p><strong>Start Point :</strong> Your Hotel/convenient point </p>
        <P><strong>Start Time :</strong> 07:30 AM </P>
        <P><strong>Tour Time :</strong> 8 to 10 hours </P>
        <div class="blankdivider30"></div>
        <p><strong>Includes :</strong> Transport, experienced Director and guide, all entries, lunch, bottled water and all taxes</p>
        <p><strong>Excludes :</strong> Tips, travel insurance</p>
        <div class="blankdivider30"></div>
        <a href="/trips"><p>Back to all trips</p></a>
        <a href="#contact"><p>Contact us to book</p></a>

    </div>
</section>


@*On a shopping Spree*@
<section id="calcuttaShoppingSpree" class="section">
    <div class="container">
        <h4>On a shopping Spree</h4>
        <P>
            <strong>
                Calcutta is a paradise for a shopaholic . With a host of local Bazaars, fashionable boutiques and malls, selling exquisite Indian fabrics, spices, jewellery, artefacts and crafts. Shopping in Kolkata is nothing but fun. So plunge in and may be end the day pampering yourself at a city spa or get a Henna tattoo done.
            </strong>
        </P>
        <div class="blankdivider30"></div>
        <p><strong>Start Point :</strong> Your Hotel/convenient point </p>
        <P><strong>Start Time :</strong> Any time after 11am (most shops don’t open before that) </P>
        <P><strong>Tour Time :</strong> 8 - 10 hours (full day) </P>
        <div class="blankdivider30"></div>
        <p><strong>Includes :</strong> Transport, experienced guide, bottled water and all taxes</p>
        <p>
            <strong>Excludes :</strong>Shopping, food, spa treatment, henna tattoo, tips, travel      </p>
        <div class="blankdivider30"></div>
        <a href="/trips"><p>Back to all trips</p></a>
        <a href="#contact"><p>Contact us to book</p></a>

    </div>
</section>

@Html.Partial("_ContactFormGeneric");

