
@{
    ViewBag.Title = "Crafts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="spacer bgCraftsTour">
    <blockquote class="large" style="margin-left:30px;"> Fascinating crafts adorn the heartlands of Bengal</blockquote>
</section>


@*Section - header*@
<section class="section">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a href="/trips"><h6>Back to all trips</h6></a>
                <h1>Rural &amp; crafts tours</h1>
                <p><strong>Travel has a new face altogether that lies in our villages.</strong> </p>
                <p>Rural craft traditions have a unique place in the world, both in variety and technique and use of materials. They were a highly used method for livelihood even before the Europeans ventured into India. </p>
                <p>Bengali people are an amalgamation of the Austric, the Dravidian and the mixed Aryans from north India. Naturally the character of this mixed culture is still prevalent in the contemporary mainstream culture of Bengal. In enriching the collective Bengali culture the rural folk elements play an essential role, and the tradition is to be traced back to its ancient Austric roots. In the later stages what we have as urban life is actually a larger extension of this rural tradition.</p>
                <p>Brass and copperware, embroidery, terracotta, textile, tapestry, paintings, pottery, hand looms, fine muslin and silk artistry, wood carving, cane works etc run unparallel amongst the folk artisans of Bengal. </p>
            </div>
        </div>
        <div class="blankdivider30"></div>
        <a href="/trips"><h6>Back to all trips</h6></a>   
        <div class="blankdivider30"></div>
        <h2>Scroll down to find ideas for some great trips...</h2>
    </div>
</section>

@*Bankura Bishnupur trip*@
<section class="section orange" id="bankuraCraftsTour">
    <div class="container container-fluid">
        <div class="row">
            <div class="span12">
                <h4>Bankura &amp; Bishnupur rural crafts tours</h4>
            </div>
            <div class="span12">
                <p><strong>Bankura</strong></p>
                <p>Surrounded by the districts of Bardwan in the North, Puruliya in the West, Medinipur in the East and the Damodar River along its northern boundary, Bankura, though basically agricultural, being the fourth highest producer of cereals in the state, boasts of the finest examples of Terracotta Temples in West Bengal in its Bishnupur town. Its Panchmura village (25 kms) from Bishnupur is the home to a cluster of potters. Bikna is the famous Dokra craft village and it is home to Bengal’s famous Baluchuri silk saris weaving.</p>
            </div>
            <div class="span12">
                <div class="blankdivider20"></div>
            </div>
            <div class="span12">
                <p><strong>Bishnupur</strong></p>
                <p>Bishnupur is the temple town of Bankura. Patronised under the Malla rulers who rules for a thousand years, Bishnupur grew as the principal centres of culture in Bengal.  Exquisite terracotta temples built in the 16th – 17th century adorn the town which brought Bishnupur in the UNESCO World Heritage Site’s tentative list.</p>
                <p>Apart from the unique architecture and terracotta craft, Bishnupur  is also famous for its and Baluchari saris made of tussar silk.Baluchari is a gorgeous tradition of handmade fabric with depiction of mythological scenes on the border and pallu of the sari. In the 18th century the Muslim ruler of Bengal, Nawab Murshid Kuli Khan patronized this rich weaving tradition and brought it from Dacca to Baluchar village in Murshidabadh, the then capital of Bengal. But after a devastating flood the weavers moved to Bishnupur and it became under the patronage of the Malla rulers. </p>
                <p>
                    A simple Baluchari has silk threads in monochrome to weave the entire pattern, while others have two or more colours with meenakari work to brighten the patterns. The most gorgeous baluchuries have gold or silver threads that illuminate the patterns to a much extent, these ones are called Swarnachari saris. With changing demand in fashion industry, the same tradition is now passed on to scarves, dresses, handbags and more.
                </p>
                <p>Other minor crafts of no less skill are also present in Bishnupur. Amongst them the Dasavatar playing cards and conch and other vegetable shell carving are noteworthy.</p>
                <p>A unique example of Bengal’s folk art is Bishnupur’s Dasavatar cards made by the Faujdar family. Dasavatar or the ten incarnations of Lord Vishnu, the Hindu deity is painted on playing cards. Made with cloth, natural glue from tamarind seeds and smoothed with stone. These round cards are painted with vegetable dye.</p>
                <div class="blankdivider30"></div>
                <h4>Sample itinerary (2N/3D) </h4>
                <p><strong>Day 1.</strong></p>
                <p>8.30am – Start from Calcutta </p>
                <p>12.30pm – Reach Bishnupur </p>
                <p>13.00 pm - Lunch</p>
                <p>2.30 – 6.30pm – Visit the beautiful terracotta temples scattered round the town. </p>
                <p>6.30pm – Back to accommodation</p>
                <p>7.30pm – Dinner and overnight stay </p>
                <p>&nbsp;</p>
                <p><strong>Day 2.</strong></p>
                <p>7.30am – Breakfast </p>
                <p>8.30am – Drive to Bikna ( Dokra Village)</p>
                <p>9.30 – 12.30pm - Explore the Dokra Village  </p>
                <p>&nbsp;</p>
                <p>Lunch either at Dokra village with the artisans or back in Bishnupur</p>
                <p>&nbsp;</p>
                <p>2.30 – 6.30pm – Visit Dasavatar card makers, shell carvers and silk weaving.</p>
                <p>7.30pm – Dinner and overnight stay </p>
                <p>&nbsp;</p>
                <p><strong>Day 3.</strong></p>
                <p>8.30am – Breakfast </p>
                <p>9.00am - Post breakfast drive to Panchmura Village</p>
                <p>9.30 – 12.30pm – Explore the terracotta art in its most versatile form.</p>
                <p>Post Lunch drive back to Calcutta or to the next village destination</p>
                <p>6.00pm – Reach Calcutta depending on traffic and road condition</p>
                <div class="blankdivider30"></div>
                <a href="/trips"><p>Back to all trips</p></a>
                <a href="#contact"><p>Contact us to book</p></a>
            </div>
        </div>
    </div>
</section>


@*Burdwan craft trips*@
<section class="section" id="craftsTourBurdwan">
    <div class="container container-fluid">
        <div class="row">
            <div class="span12">
                <h4>Burdwan crafts tour</h4>
                <p><strong>Burdwan</strong></p>
                <p>Burdwan was once recorded as the richest tract in Bengal and the area of its oldest and most settled cultivation. Burdwan was founded in 1657 by Sangam Rai, of a Hindu Khatri family of Kotli in Lahore, Punjab, whose descendants served in turn the Mughal Emperors and the British government.</p>
                <p>A series of rulers enriched the cultural heritage of the region patronising craft, education and architecture.</p>
                <p>Reputed for its beautiful terracotta temples, Burdwan is made more famous for its Dokra and woodcarving craft. It is also home to small hamlets where the womenfolk are engaged in making beautiful indigenous Bengal embroidery called Kantha on silk and cotton fabric.  </p>
                <p><strong>Dokra </strong> is one of the earliest methods of non-ferrous metal casting known to human civilization. It is the most complicated metal casting done with the lost-wax technique. The technique has managed to survive many centuries and change of dynasties owing to its modesty of application in everyday lives of ordinary people. Mostly drawn from folk culture, the specialty of Dokra metal craft is that each item is exclusive and making its exact replica is nearly impossible. </p>
                <p>A visit to the Dariyapur Dokra tribal village is captivating with the rustic and pastoral charm of this art with its primeval simplicity and beguiling folk motifs. The art is very ethnic and boasts of real folk essence. A local expert will take one through the step-by-step process of creating Dokra artefacts making and one will learn why each piece is unique and making an exact copy is practically impossible . </p>
                <div class="blankdivider30"></div>
                <p><strong>Natungram</strong>, in the district of Burdwan is a small rustic village full of rural and pastoral charm and great artistry. It is the hub of Wooden Doll making, an age old tradition of the Bhaskar, meaning sculptor or Sutradhar, meaning story teller communities that has been continuing through generations and is still alive among 70 odd families of this village. </p>
                <p><strong>Kantha</strong> means ‘rags’ in Sanskrit. It is predominantly the most popular form of embroidery practiced by the rural women of Bengal. Originally Kantha embroidery was made up of discarded sarees. Threads from the border of the old sarees were drawn out and used as the thread for doing embroidery. The traditional form of Kantha embroidery is done where the entire cloth is covered with running stitches creating beautiful folk motifs, floral motifs, animal and birds figures and geometrical shapes. Themes from day to day activities are also a common subject for the embroidery.</p>
                <div class="blankdivider30"></div>
                <h4>Sample itinerary (3N/4D) </h4>
                <p><strong>Day 1.</strong></p>
                <p>6.30am – Start from Calcutta </p>
                <p>10.30am – Reach Burdwan Kantha Village homestay </p>
                <p>Post freshen-up and light breakfast </p>
                <p>11.30am – Village walk , knowing the rustic surrounding </p>
                <p>3.00pm – Visiting rural homes and seeing the women in action</p>
                <p>7.30pm – Dinner and overnight stay </p>
                <p>&nbsp;</p>
                <p><strong>Day 2.</strong></p>
                <p>7.30am – Breakfast </p>
                <p>8.30am – Depart from Kantha Village and drive to Dokra Village stay</p>
                <p>10.30am – Reach Docra Village </p>
                <p>11.00am – Explore the Docra Village </p>
                <p>Post Lunch</p>
                <p>3.30pm - Interactive session with the Docra makers experiencing their art and way of life.</p>
                <p>7.30pm – Dinner and overnight stay </p>
                <p>&nbsp;</p>
                <p><strong>Day 3.</strong></p>
                <p>7.30am – Breakfast </p>
                <p>Post breakfast onwards journey to Woodcarving Village.</p>
                <p>9.30am – Reach Woodcarving Village stay</p>
                <p>10.30am – Explore Natungram and watch the craftsmen in action</p>
                <p>Post Lunch </p>
                <p>3.00pm - Visit old terracotta temples and a second world war airstrip hidden in the forest from common eye.</p>
                <p>7.30pm – Dinner and overnight Stay</p>
                <p>&nbsp;</p>
                <p><strong>Day 4.</strong></p>
                <p>7.30am – Breakfast </p>
                <p>Post Breakfast drive to Tepantar Theatre Village </p>
                <p>10.00am - 1.00pm – Interactive village walk watching the actors in action   </p>
                <p>1.00pm – Lunch</p>
                <p>2.00 – 4.30pm – Free time to explore the area</p>
                <p>4.30pm – On wards journey back to Calcutta</p>
                <p>8.00pm – Reach Calcutta depending on traffic and road condition.</p>
                <div class="blankdivider30"></div>
                <a href="/trips"><p>Back to all trips</p></a>
                <a href="#contact"><p>Contact us to book</p></a>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_ContactFormGeneric");
