
@{
    ViewBag.Title = "Voluntourism";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="spacer bgVoluntourism">
    <blockquote class="large" style="margin-left:30px;"> A fantastic alternative to the typical touring schedules ...</blockquote>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <p><strong>Voluntourism can offer you that spectrum</strong> where you not only explore the sights but also take active participation in the life of the people who needs assistance for development. </p>
            <p><strong>Calcutta &amp; Beyond</strong> offers couple of incredible programs for those who want to use their gap year productively by taking up internship programs in India. The best part of volunteering vacation is the mutual cultural exchange between you and the locals</p>
            <div class="blankdivider30"></div>
            <h1>Be their light</h1>
            <div class="blankdivider30"></div>
            <p>Calcutta or Kolkata, the "City of Joy" is one of the most vibrant cities of the world, it gives you a plethora of experiences.  Some good, some bad and some life changing.</p>
            <p>To have a life changing experience, spend some time with children or people who live in an entirely different world. Their lives maybe filled with hardships but their faces have some of the brightest smiles and they can teach us a thing or two on how to find happiness and joy in the simplest of things.</p>
            <p>You can play an important role in the local communities by sharing your experiences or perhaps offering them a helping hand.</p>
            <p>&nbsp;</p>
            <p>We are associated with different NGOs who work with the underprivileged sections of our society in the field of education, children welfare, community development and women empowerment.</p>
            <div class="blankdivider30"></div>
            <p><strong>The types of volunteering and Internship we can offer are as follows:-</strong></p>
            <ul style="margin-left:30px;">
                <li>Spending Time with children of NGO  Schools ( street children and children from  Below Poverty level ) </li>
                <li>Visit slum areas where extensive community development work is being done to raise awareness on health, hygiene and environment.</li>
                <li>Meet women who are being empowered through education and by skill-development to make them self reliant.</li>
            </ul>
            <p>&nbsp;</p>
            <p>We can assure you that these experiences will leave you enriched and humbled. You can end up playing a significant role in the lives of these underprivileged people and go back appreciating life a little more.</p>
            <p>You can opt for a day with them or have a prolonged connection as a volunteer for various programs we organise.  </p>
            <div class="blankdivider30"></div>
            <a href="/trips"><p>Back to all trips</p></a>
            <a href="#contact"><p>Contact us to book</p></a>
        </div>
    </div>
</section>

<section class="spacer bgSunderbans">
    <div class="container">
        <blockquote class="large" style="margin-left:30px;"> The Sundarbans- A Race to save the planet...</blockquote>
        <p>&nbsp;</p>
        <p><strong>Located at the South Eastern end of the 24 Parganas, Sundarbans are the world’s largest delta formed by the rivers Ganges, Hooghly, Brahmaputra and Meghna. 1/3 of the Sundarbans fall in India and the rest is part of Bangladesh. It is the largest mangrove forest in the coastal environment. With a huge biodiversity of Flora and Fauna, Sundarbans is home to the Indo-pacific region’s largest terrestrial predator, the Royal Bengal Tiger along with Spotted Deer, Bahmini Kites, monitor lizard, estuarine crocodiles and many more.</strong></p>
    </div>    
</section>

<section class="section orange" id="voluntSunderbans">
    <div class="container">
        <p>
            <strong>
                The Flora is charactised by the abundance of Sundari (Heritiera fomes) that gives the name of the forest. Other trees include gewa (Excoecaria agallocha), goran (Ceriops decandra) and keora (Sonneratia apetala) to name a few that occur prominently throughout the area.
                The forest is also a treat for bird lovers. Here one can spot  Herons, Egrets, Cormorants, Storks, Green Pigeons, Sand Pipers, Large and Small Spoonbills, Darters, Seagulls, Teal, Partridges, great variety of Wild Geese and Ducks many of which migrate from higher latitudes during the winter months.
            </strong>
        </p>
        <p>&nbsp;</p>
        <p>Voluntary work in Sundarbans in association with SGEA focuses mainly on the conservation of the mangrove. Loss of mangrove forest results in the loss of the protective biological shield against cyclones and tsunamis. It also destroys the food chain that starts with algae and ends with human. </p>
        <p>It was began in 2009 a devastating tropical cyclone called Aila had ravaged the entire costal Sundarbans rendering people homeless, loss of crop land, death of numerous tigers and other animals of the forest. </p>
        <p><strong>Lend your hand for protecting Sundarbans</strong> - habitat to 245 genera and 334 plant species, 150 species of commercially important fish, 270 species of birds, 42 species of mammals, 35 reptiles and 8 amphibian species. It is also an important wintering area for migrant water birds and ideal for watching and studying avifauna. </p>
    </div>
</section>

<section class="section">
    <div class="container">
        <h4>3D/2N itinerary to get you introduced to the Sundarbans</h4>
        <p><strong>Day 1.</strong></p>
        <p>6.30am – Start from Calcutta to Godhkhali or Chunakhali</p>
        <p>12.30pm – Reach Kumirmari Island</p>
        <p>Post Lunch:</p>
        <p>2.30 to 3.00pm – Introduction with the members of  SGEA and safety briefing </p>
        <p>3.00 – 5.00pm – Sunset cruise on a local motorised boat that will leave you completely relaxed and rejuvenated after the long journey to the islands.</p>
        <p>7.00-8.00pm – Dinner</p>
        <p>&nbsp;</p>
        <p><strong>Day 2.</strong></p>
        <p>8.30-9am – Breakfast</p>
        <p>9 - 11am -   Fishing expedition on a local row boat</p>
        <p>Post Lunch</p>
        <p>2.30 – 5.00pm – Getting to know the processes of seed and sapling collection and plantation work</p>
        <p>5.30 – 7.00pm – Lively chat with Pranabesh, founder of SGEA, getting to know him and his vision</p>
        <p>7.00- 8.00pm – Dinner</p>
        <p>&nbsp;</p>
        <p><strong>Day 3.</strong></p>
        <p>5.30 – 7.30am – Bird watching</p>
        <p>7.30 – 8.00am – Breakfast</p>
        <p>9.00 – 12.00noon – Village Walk</p>
        <p>12.30 – 1.30pm – Lunch</p>
        <p>1.30 – 3.30pm – At Leisure</p>
        <p>3.30- 5.30pm – Cruising round the creeks and visiting the watch towers in a hope to view the Royal Predators.</p>
        <p>&nbsp;</p>
        <p><strong>Day 4 </strong>onwards you start work. You can work 4 days or 5 days a week and on your free days either just relax or opt and choose from the array of tours on our list from Kolkata city tours to the other village tours. During your stay you will also be taken to Sajnekhali Museum, Mangrove Interpretation Centre and Bhagabatpur Crocodile Project. </p>
        <div class="blankdivider30"></div>
        <p><strong>You will inculcate more enthusiasm for the locals to join in the programs for their own betterment. You will be assisted by local volunteers and together you can work for a common aim…a more greener, cleaner and safer world to live in and a better understanding of life for them and yourself. </strong></p>
        <div class="blankdivider30"></div>
        <p><strong><i>We are eager to welcome you from September to March.</i></strong></p>
        <ul style="margin-left:30px;">
            <li>Carry your original passport.</li>
            <li>Couple of passport sized photographs of yourself</li>
            <li>Comfortable clothing</li>
            <li>Woollens, nights can be cold</li>
            <li>Proper protective footwear</li>
            <li>Sunscreen</li>
            <li>Mosquito repellent</li>
            <li>Hats/Caps</li>
            <li>Binoculars</li>
            <li>Camera</li>
        </ul>
        <div class="blankdivider30"></div>
        <a href="/trips"><p>Back to all trips</p></a>
        <a href="#contact"><p>Contact us to book</p></a>
    </div>
</section>

      
@Html.Partial("_ContactFormGeneric");
