
@{
    ViewBag.Title = "Workshops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="spacer bgWorkshop">
    <blockquote class="large" style="margin-left:30px;"> Join some amazing workshops to experience culture, first hand</blockquote>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a href="/trips"><h6>Back to all trips</h6></a>
                <h1>Workshops &amp; to experience the cultural heritage</h1>
                <div class="blankdivider30"></div>
                <h5><strong> Indian Classical dance.</strong> </h5>
                <p>Natyasastra an ancient Hindu text traces the roots of Indian Classical Dances back to many centuries. It is also said that the whole world is the dance of Shiva symbolising the five activities of creation, destruction, concealing, apparition and favouring.</p>
                <p>Graceful and elegant hand, body and eye movement, each movement and posture describes a story. Gorgeous costume, elaborate jewellery and make-up - constitutes the Classical Dances of India.</p>
                <p>The temples of Khajuraho, Bhubaneswar, Puri , Tamil Naidu  and many more echoes rhythm and music of the Classical Dances of India.</p>
                <p><strong> Dance courses are offered in Kathak, Bharatnatyam, Kuchipudi and Odissi.</strong> </p>
                <h5><i>We give you the unique opportunity to join in workshops conducted by the best dance teachers of the city. You can opt for beginner courses or advance learning process under their expert guidance.</i></h5>
                <a href="/trips"><p>Back to all trips</p></a>
                <a href="#contact"><p>Contact us to book</p></a>
            </div>
        </div>
    </div>
</section>

<section class="section orange">
    <div class="container">
        <div class="span12">
            <h2>Sari draping and art of make-up. </h2>
            <p>
                Want your eyes to sparkle, your completion to look spotless, the nose and pout perfect? Make-up gives confidence. Learn the secrets of the perfect look for you from Anasua.
                Make-up does not mean oodles of paint and spending long hours in front of the mirror. Its just the right amount of colour at the right place depending on the time and place and occasion for which you are getting ready.
            </p>
            <p><i>Every face is unique, so learn to give it the touch that will create the magic. </i></p>
            <p>Cleopatra was said to have soaked her ship sails in perfume so everyone could smell her arrival. That was her signature style. Cleopatra was said to have soaked her ship sails in perfume so everyone could smell her arrival. That was her signature style.</p>
            <h5>
                <i>
                    Anasua says :
                    Being inclined to the world of beauty, I have inculcated the idea of makeup. Every individual is beautiful, but our daily struggles and worries keep eroding the natural God gifted framework. In order to restore them my humble try lead me to this makeup world. I am self taught which gives me ample scope to see, research and imply. I love to see my clients smile with satisfaction.
                </i>
            </h5>
            <h5>The Whole 9 Yards</h5>
            <p>
                No look is complete without a suitable outfit. While you are in India don’t miss the opportunity to learn to drape the 9 yard long fabric which makes every woman look their elegant best.
                Back home you can stun the others in a party by making a super appearance in an Indian Saree looking like a dream rapped in the most gorgeous attire.
            </p>
            <div class="blankdivider30"></div>
            <a href="/trips"><p>Back to all trips</p></a>
            <a href="#contact"><p>Contact us to book</p></a>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="span12">
            <h3>Henna Tattoo</h3>
            <p>
                Made from the leaves of Lawsonia Inermis the tradion of Henna tattooing dates back to Ancient Egypt. It was said that Cleopatra used henna to adorn her body. <br />
                Because henna has natural cooling properties, people of the desert regions has been practicing henna art for centuries. Initially, as the stain faded away, it left patterns on the skin surface which led to ideas to make designs for decorative purposes.<br />
                In India henna was used about seven centuries before the Mughal invasion. Throughout time henna has been associated with special celebrations. Betrothals, weddings, the eighth month of pregnancy, the birth, the 40th day after a woman gives birth, naming ceremonies, etc. <br />
                A bride's wedding designs usually includes a hidden inscription of the groom's name on her palm. Tradition holds that the darker the stain on the palm of the bride the better the marriage and the more the love of the husband will be and if an unmarried girl receives scrapings of henna leaves from a bride, she will soon find a suitable match.
                Whatever the occasion is all necessary care is taken to ensure that the henna colour is of the darkest shade does not get off easily.
            </p>
            <h5><i>Join us for a fun henna tattoo session with our tattoo experts.</i></h5>
            <div class="blankdivider30"></div>
            <a href="/trips"><p>Back to all trips</p></a>
            <a href="#contact"><p>Contact us to book</p></a>
        </div>
    </div>
</section>

<section class="section orange">
    <div class="container">
        <div class="span12">
            <h3>Mixed Platter</h3>
            <p>
                Food has always been a weakness for the Bengalis. The gourmets of Bengal were so enthusiastic about eating that they not only prescribed the sequence of eating but they left behind plentiful texts where different Bengali food items and dishes were mentioned. There is even a deity called Annapurna who loves preparing and serving various dishes.<br />

                With its extraordinary fertile soil, Bengal produces variety of vegetables, fruits, spices and is the store house of paddy cultivation. Its rivers and lakes are inexhaustible source of different kinds of fish. Bengali meal also consists of meat and dairy products
            </p>
            <p>
                Bengali dishes are divided into four types: <br /><br />

                1.	Charbya  - food which is to be chewed<br />
                2.	Choṣhya  - food which is to be sucked<br />
                3.	Lehya - food which is to be licked<br />
                4.	Peya  - drinks
            </p>
            <p>
                Some green chillies, Bengali lime and some salt at the corner of the plate is a trademark of traditional Bengali meal serving.<br />

                For starters there will be either mashed or steamed vegetables, followed by a bitter vegetable preparation called Shukto, Shaak is a lightly cooked leafy vegetable which is served after Shukto. Then sequentially comes Dal or lentil soup served with some fried vegetables, macher jhol or fish curry, Mansho or meat, Chatni which is a sweet and tangy paste  made with every conceivable fruit and even vegetables. The meal is signed-off with liberal servings of traditional Bengali sweets and a Paan a beetle leaf flavoured with sweet spices which helps in digestion and acts as a mouth freshener.<br />

                Plain steamed Rice is the main accompaniment to all dishes. However, different types of Rice dish are made for different occasions. Polao, the Bengali version of Pilaf is traditionally cooked in occasions and compliments splendidly with Kasha Mangsho or Mutton/Lamb cooked on slow fire, in the Bengali way. Another Rice dish is Khichuri – a combination of Rice and Lentils cooked together and is an absolute must on a typical rainy day accompanied by various types of vegetable fritters. <br />

                Occasionally, Rice can be substituted by ‘Luchi’ and Radhaballavi a kind of Paratha stuffed with green Peas which pairs well with spicy potatoes, meat or even egg curry.
            </p>
            <h5><i>Come, enjoy the distinct culinary tradition of Bengal with our mothers and grandmothers from their home kitchen with us</i></h5>
            <div class="blankdivider30"></div>
            <a href="/trips"><p>Back to all trips</p></a>
            <a href="#contact"><p>Contact us to book</p></a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="span12">
            <h3>Its Fishy</h3>
            <p>Traditionally, Bengal has been renowned for its extraordinarily fertile agricultural land and production of paddy. At the same time, the rivers of Bengal are an apparently inexhaustible resource of different varieties of fish. That is why, from the ancient times, rice and fish emerged as the staple food for the Bengalis</p>
            <p>
                There are more than forty types of fresh water fish commonly used in Bengali cuisine some of the most popular one are.<br />
                Roh - (Ni),<br />
                Katla, Magur - (catfish),<br />
                Chingri -  - (prawn or shrimp),<br />
                Shutki (dried sea fish),<br />
                Ilish - (hilsa). Is the king of fish and is available only during monsoon.
            </p>
            <p>The fish-y journey will take you through a local fish market where you get to choose and pick your fish and then our culinary  expert will give you step by step demonstration of cooking amazing curries pleasantly flavoured with mustard oil, coconut milk, freshly ground cumin paste, tempered with whole spices emitting the unique aroma a Bengali kitchen boasts of!</p>
            <div class="blankdivider30"></div>
            <a href="/trips"><p>Back to all trips</p></a>
            <a href="#contact"><p>Contact us to book</p></a>
        </div>
    </div>
</section>

@Html.Partial("_ContactFormGeneric");