<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
            <img src="img/logo.png" alt="" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3 class="white">A Calcutta &amp; Beyond initiative</h3>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- end spacer section -->